<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Perfil - Tienda de Ropa</title>
    <link rel="stylesheet" href="../css/styles-act-perfil.css">
</head>
<body>
    <div class="box">
        <div class="container">
            <header>Actualizar Perfil</header>

            <form action="/actualizar_perfil" method="post">
                <div class="input-field">
                    <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" placeholder="Tu nombre" required>
                </div>

                <div class="input-field">
                    <input type="email" id="email" name="email" value="{{ usuario.email }}" placeholder="Tu email" required>
                </div>

                <button type="submit" class="submit">Actualizar</button>
            </form>

            <div class="bottom">
                <div class="left">
                    <label><a href="/perfil">Volver al perfil</a></label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
