<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Ruta relativa al archivo CSS -->
    <link rel="stylesheet" href="../css/styles-login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Favicon con ruta relativa -->
    <link rel="icon" href="../img/favicon.ico.png" type="image/png">

    <title>Ludiflex | Login</title>
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="top-header">
                <header>Iniciar Sesión</header>
            </div>

            <!-- Formulario de inicio de sesión -->
            <form method="POST" action="{{ url_for('login') }}">
                <div class="input-field">
                    <input type="email" id="email" name="email" class="input" placeholder="Correo electrónico" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-field">
                    <input type="password" id="contraseña" name="contraseña" class="input" placeholder="Contraseña" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-field">
                    <input type="submit" class="submit" value="Iniciar Sesión">
                </div>
            </form>

            <!-- Opciones adicionales -->
            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check">Recordarme</label>
                </div>
                <div class="right">
                    <label><a href="{{ url_for('forgot_password') }}">¿Olvidaste tu contraseña?</a></label>
                </div>
            </div>

            <!-- Enlace a la página principal -->
            <div class="bottom">
                <div class="left">
                    <a href="{{ url_for('home') }}">Volver a la página principal</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
